[
 {rabbit, [
     {default_user, <<"rabbit">>},
     {default_pass, <<"rabbit">>},
     {default_user_tags, [administrator]}
 ]},

 {rabbitmq_mochiweb, [
     {listeners, [
         {mgmt, [{port, 55680}, {ip, "0.0.0.0"}]}
     ]}
 ]},

 {rabbitmq_federation, [
     {upstream_sets, [
         {"chinchilla", [[{connection, "chinchilla"}]]}
     ]},
     {connections, [
         {"chinchilla", [
             {host, "13inches"},
             {username, "chinchilla"},
             {password, "chinchilla"}
         ]}
     ]},
     {local_username, "rabbit"},
     {local_nodename, "rabbit"}
 ]}
].
