{sub_dirs, [
    "apps/myxi",
    "rel"
]}.

{lib_dirs, ["deps"]}.

{deps, [
    {lager,       ".*", {git, "git://github.com/basho/lager.git"}},
    {meck,        ".*", {git, "git://github.com/eproxus/meck.git"}},
    {cowboy,      ".*", {git, "git://github.com/extend/cowboy.git"}},
    {amqp_client, ".*", {git, "git://github.com/jbrisbin/amqp_client.git"}},
    {erlando,     ".*", {git, "git://github.com/rabbitmq/erlando.git"}},
    {gproc,       ".*", {git, "git://github.com/esl/gproc.git"}}
]}.

{erl_opts,        [debug_info]}.
{eunit_opts,      [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
{require_otp_vsn, "R15"}.
{xref_checks,     [undefined_function_calls]}.
{cover_enabled,   true}.
