{sys, [
    {lib_dirs, ["../apps", "../deps"]},
    {rel, "centzon-totochtin", "0.1.0", [
        kernel,
        stdlib,
        lager,
        cowboy,
        totochtin
    ]},
    {rel, "start_clean", "", [
        kernel,
        stdlib
    ]},
    {boot_rel, "totochtin"},
    {profile, embedded},
    {excl_sys_filters, [
        "^bin/.*",
        "^erts.*/bin/(dialyzer|typer)"
    ]},
    {app, totochtin, [{incl_cond, include}]}
]}.

{target_dir, "package"}.

{overlay, [
   {mkdir, "log/sasl"},
   {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
   {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
   {copy, "files/totochtin", "bin/totochtin"},
   {copy, "files/app.config", "etc/app.config"},
   {copy, "files/vm.args", "etc/vm.args"}
]}.
